config.host: localhost
config.port: 8888

spring:
  application.name: booking-service
  cloud.config.uri: http://${config.host}:${config.port}/
  config.import: configserver:${spring.cloud.config.uri}