server:
  port: 8082

spring:

  messages:
    fallback-to-system-locale: false
    basename: i18n/messages

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

  datasource:
    url: jdbc:postgresql://localhost:5433/car-rental-users-db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
    open-in-view: false

  flyway:
    locations: classpath:/db/migration

  kafka:
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.apache.kafka.common.serialization.BytesDeserializer
      group-id: user-service
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

security:
  auth-server:
    url: http://localhost:8083/auth/private/tokens
    method: POST
  rsa:
    key:
      public: classpath:key.public
  jwt:
    claim:
      type: type
      role: role
  email-verification:
    ttl-hours: 3
    code:
      length: 15
    max-hours: 72
  reset-password:
    ttl-minutes: 10
    code:
      length: 20

kafka:
  topic:
    user:
      email-verification: user-email-verification
      password-reset: user-password-reset

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: WARN

cronjob:
  user:
    delete-unverified: 0 * * * *